$primaryColor: #F2B705;
$secondaryColor: #182233;
$tertiaryColor: #565759;

$black: #000;
$white: #fff;

$grayOne: #1F2937;
$grayTwo: #374151;
$grayThree: #4B5563;
$grayFour: #6B7280;
$grayFive: #9CA3AF;
$graySix: #D6D9DE;
$graySeven: #F3F4F6;

$stateInfo: #2F80ED;
$stateSuccess: #27AE60;
$stateWarning: #E2B93B;
$stateError: #EB5757;